html,
body {
    font-family: "IBM Plex Mono", monospace;
    background-color: #000000;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    font-weight: 300;
}

.footer-margin {
    margin-top: 100px;
}
.footer-bg {
    background-color: #000000;
    padding: 40px 0;
    color: #fff;
}

.h3 {
    font-weight: 400;
    letter-spacing: 1.36px;
    margin: 0;
    font-size: 30px;
}

.desc {
    font-size: 24px;
    letter-spacing: 1.18px;
    color: #9b9b9b;
}

.info {
    color: rgba(252, 128, 26, 0.7);
    letter-spacing: 1.18px;
    font-size: 26px;
    font-weight: 400;
    line-height: 44px;
}

.content {
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.content-without-padding {
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}

.content_1 {
    position: relative;
    padding-bottom: 170px;
}

.video_1 {
    margin-left: auto;
    margin-top: -10vh;
    display: block;
    height: 80vh;
}

.text_1 {
    max-width: 725px;
    position: absolute;
    left: 0;
    bottom: 120px;
}

@-webkit-keyframes toRight {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes toRight {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
.orange_text {
    display: inline-block;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-box-shadow: 0px -10px 0 0 rgba(252, 128, 26, 0.7) inset;
    box-shadow: 0px -10px 0 0 rgba(252, 128, 26, 0.7) inset;
    /* animation: toRight ease-in-out 0s; */
}

.content_2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo_container {
    position: relative;
    left: -12px;
    bottom: 9px;
    max-width: 228px;
    max-height: 228px;
    min-width: 228px;
    min-height: 228px;
    background-color: #fc801a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 10px 10px 0 0 #8c4408;
    box-shadow: 10px 10px 0 0 #8c4408;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.text_2 {
    margin-left: 112px;
    margin-right: 117px;
}

.text_2_desc {
    margin-top: 40px;
}

.content_3 {
    margin-top: 130px;
}

.video_3 {
    display: block;
    width: 990px;
    height: 568px;
}

.text_3 {
    position: relative;
    max-width: 760px;
    margin-left: auto;
    top: -15px;
}

.text_3_info {
    margin-left: 96px;
    margin-bottom: 40px;
}

.content_4 {
    width: 100vw;
    margin-top: 40px;
    overflow: auto;
    -webkit-box-align: start;
    -ms-flex-align: start;
    margin-bottom: 190px;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content_4 video {
    margin: 0 2%;
    width: 16%;
}

.content_4 video:nth-child(2n) {
    width: 27%;
}

.content_5 {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 80px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content_5_details {
    width: 42%;
}

.image_5 {
    width: 100%;
}

.text_5 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    line-height: 1.17;
    letter-spacing: 1.4px;
    color: #ffffff;
}

.text_5_info {
    font-size: 26px;
    line-height: 1.31;
    letter-spacing: 1.2px;
    color: #9b9b9b;
}

.quote_5 {
    position: relative;
    white-space: pre-line;
    margin: 0;
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: 1.9px;
    color: #fc801a;
    border-left: none;
}

.quote_5:before {
    content: '"';
    display: inline-block;
    color: rgba(255, 255, 255, 0.2);
    -webkit-transform: skewX(-10deg) scale(5) translate(6px, 2px);
    -ms-transform: skewX(-10deg) scale(5) translate(6px, 2px);
    transform: skewX(-10deg) scale(5) translate(6px, 2px);
}

.quote_5:after {
    position: absolute;
    right: 0;
    content: '"';
    display: inline-block;
    color: rgba(255, 255, 255, 0.2);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: skewX(10deg) scale(7) translate(0px, 0px);
    -ms-transform: skewX(10deg) scale(7) translate(0px, 0px);
    transform: skewX(10deg) scale(7) translate(0px, 0px);
}

.content_7 {
    margin: 80px 0 -30px;
}
.text_7 {
    padding-left: 20vw;
    margin: 80px 0;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 1.2px;
    color: #9b9b9b;
}
.text_7_info {
    font-size: 30px;
    font-weight: 500;
    width: 40vw;
    line-height: 1.22;
    letter-spacing: 1.6px;
    color: #ffffff;
}

.video-carousel {
    position: relative;
}

.video-carousel-controls {
    position: absolute;
    z-index: 9;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.video-carousel-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px -10px;
}

.video-dot {
    margin: 10px 10px 20px 10px;
    width: 28px;
    height: 28px;
    background-color: black;
    z-index: 2;
    cursor: pointer;
    position: relative;
}

.video-dot.active {
    background-color: rgb(252, 128, 26);
}

.video-details {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 26px;
}

.video-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.video-title {
    opacity: 0.3;
    font-weight: bold;
    margin-right: 20px;
}

.video-description {
    font-style: italic;
    line-height: 1.31;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ffffff;
}

.video-color {
    border-radius: 50%;
    height: 17px;
    width: 17px;
    background-color: #7ed321;
}

.video_8 {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    background: grey;
    margin: 0;
    margin-bottom: 130px;
}

.content_8_img_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.content_8_img {
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
    height: 370px;
}

.content_8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 45px;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 1.2px;
    color: #9b9b9b;
}

.content_8 .text_8 {
    margin-bottom: 30px;
}

.content_last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content_last_first {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.content_last_sec {
    width: 322px;
    min-width: 322px;
    height: 322px;
    margin-left: 52px;
    border: 1px solid #979797;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content_last_first_desc {
    margin-top: 40px;
}

.mail,
mail:hover,
mail:active,
mail:focus {
    text-decoration: none;
    color: #fc801a;
}

@media only screen and (max-width: 1000px) {
    .content_last,
    .content_2,
    .content_5,
    .content_8,
    .content_last_sec {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .video_1,
    .text_7_info,
    .content_5_details,
    .content_8,
    .content,
    .content-without-padding,
    .video_3 {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }

    .video_1,
    .video_3,
    .video_8 {
        height: 48vh;
        -o-object-fit: none;
        object-fit: none;
        width: 100vw;
        min-width: auto;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .text_1 {
        position: relative;
        top: 0;
    }

    .content_2 {
        margin-top: -50px;
    }

    .text_3 {
        top: 90px;
    }

    .content_4 {
        overflow: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .content_4 video {
        width: 30%;
        margin: 0 10px;
    }

    .content_4 video:nth-child(2) {
        width: 60%;
    }

    .content_4 video:nth-child(3) {
        width: 20%;
    }

    .content_4 video:nth-child(4) {
        margin-top: 30px;
        width: 50%;
    }

    .logo_container {
        max-width: 145px;
        max-height: 145px;
        margin-bottom: 40px;
        min-width: 145px;
        min-height: 145px;
        left: 0;
    }

    .logo_container svg {
        max-width: 60px;
        max-height: 100px;
        min-width: 60px;
        min-height: 100px;
    }

    .content_2 {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .text_2 {
        margin-right: 0;
    }

    .content_7 {
        margin-bottom: 40px;
    }

    .content_8 {
        margin-top: 20px;
    }

    .content_last {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .content_8_img {
        height: 200px;
        width: auto;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .video-carousel-controls {
        margin: 0 50px;
    }

    .text_8_wrapper {
        padding-bottom: 20px;
    }

    .quote_5 {
        margin-top: 40px;
        font-size: 24px;
    }

    .quote_5:after {
        -webkit-transform: skewX(10deg) scale(7) translate(0px, 0px);
        -ms-transform: skewX(10deg) scale(7) translate(0px, 0px);
        transform: skewX(10deg) scale(7) translate(0px, 0px);
    }

    .content {
        padding: 50px;
    }

    .video-details {
        font-size: 15px;
    }

    .content_last_sec {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
    }

    .text_7,
    .text_2 {
        padding-left: 0;
        margin-left: 0;
    }
}

footer .container {
    max-width: 1000px;
}

.socials {
    padding: 10px;
}
